<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical left-list">
      <button type="button" [routerLink]="['guide']" class="btn btn-primary">进给轴</button>
      <button type="button" [routerLink]="['guide']" routerLinkActive="active" class="btn btn-default">导轨</button>
      <button type="button" [routerLink]="['ballscrew']" routerLinkActive="active" class="btn btn-default">滚珠丝杠</button>
      <button type="button" [routerLink]="['bearing']" routerLinkActive="active" class="btn btn-default">轴承</button>
      <button type="button" [routerLink]="['coupling']" routerLinkActive="active" class="btn btn-default">联轴器</button>
      <button type="button" [routerLink]="['motor']" routerLinkActive="active" class="btn btn-default">伺服电机</button>
      <button type="button" [routerLink]="['driver']" routerLinkActive="active" class="btn btn-default">伺服驱动</button>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>