.thumbnail{
    cursor: pointer; 
    border: 2px solid #ddd;
    border-radius: 8px;
}

.thumbnail img{
    width: 270px;
    height: 190px;
}

.thumbnail  .caption{
    text-align: center;
}

.thumbnail.active{
    border-color: #337ab7;
}