<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical left-list">
      <button type="button" [routerLink]="['systemType']" class="btn btn-primary">数控系统</button>
      <button type="button" [routerLink]="['systemType']" routerLinkActive="active" class="btn btn-default">数控系统类型</button>
      <button type="button" [routerLink]="['systemAccessory']" routerLinkActive="active" class="btn btn-default">数控系统辅件</button>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>