<div class="block">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/selection/CNCMachine/CNCType']">数控机床</a></li>
    <li class="active">工作需求</li>
  </ol>
  <form novalidate class="form-horizontal" role="form" #bigForm="ngForm">
    <fieldset ngModelGroup="cuttingGroup" #cuttingGroup="ngModelGroup">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">切削条件</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>纵向切削力(N)</th>
                <th>垂直切削力(N)</th>
                <th>进给速度(m/min)</th>
                <th>工作时间占比(%)</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tr *ngFor="let cuttingCondition of cuttingConditions;let i=index">
              <td>{{cuttingCondition.type}}</td>
              <td><input [name]="'lengthwaysForce'+i" type="number" class="form-control" [(ngModel)]="cuttingCondition.lengthwaysForce"
                  required nonnegative></td>
              <td><input [name]="'verticalForce'+i" type="number" class="form-control" [(ngModel)]="cuttingCondition.verticalForce"
                  required nonnegative></td>
              <td><input [name]="'feedSpeed'+i" type="number" class="form-control" [(ngModel)]="cuttingCondition.feedSpeed" required
                  required nonnegative></td>
              <td><input [name]="'timeScale'+i" type="number" class="form-control" [(ngModel)]="cuttingCondition.timeScale" required
                  required nonnegative></td>
            </tr>
            </tbody>
          </table>
          <div class="alert alert-warning" [hidden]="cuttingGroup.valid || cuttingGroup.pristine">
            <a href="#" class="close" data-dismiss="alert">
              &times;
            </a>
            <strong>警告</strong>值不能为空
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset ngModelGroup="productGroup" #productGroup="ngModelGroup">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">工况</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="" class="control-label col-md-2">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input name="name" type="number" class="form-control" [(ngModel)]="red" #green="ngModel" nonnegative required>
          </div>
          <p class="form-control-static col-md-1">m/min</p>
          <label for="" class="control-label col-md-2 col-md-offset-1">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
        </div>
        <div class="form-group">
          <label for="" class="control-label col-md-2">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
          <label for="" class="control-label col-md-2 col-md-offset-1">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
        </div>
        <div class="form-group">
          <label for="" class="control-label col-md-2">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
          <label for="" class="control-label col-md-2 col-md-offset-1">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
        </div>
        <div class="form-group">
          <label for="" class="control-label col-md-2">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
          <label for="" class="control-label col-md-2 col-md-offset-1">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
        </div>
        <div class="form-group">
          <label for="" class="control-label col-md-2">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
          <label for="" class="control-label col-md-2 col-md-offset-1">最大进给速度:</label>
          <div id="" class="col-md-2">
            <input type="number" class="form-control">
          </div>
          <p class="form-control-static col-md-1">m/min</p>
        </div>
      </div>
      </div>
    </fieldset>
  </form>
</div>