<div class="container main-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">个人中心</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td>用户名</td>
                    <td>{{userInfo.userName}}</td>
                </tr>
                <tr>
                    <td>昵称</td>
                    <td>{{userInfo.nickName}}</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>{{userInfo.email}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>