<div class="wrapper">
<div class="container">
  <div class="section">
      <img class="img-responsive" src="assets/images/home/CNC.jpg" alt="数控机床数据库管理系统">
  </div>
  <div class="section">
      <img class="img-responsive" src="assets/images/home/system.jpg" alt="数控系统">
  </div>
  <div class="section">
      <img class="img-responsive" src="assets/images/home/machine.jpg" alt="机械传动部件">
  </div>
  <div class="section">
      <img class="img-responsive" src="assets/images/home/motor.jpg" alt="伺服电机">
  </div>
  <div class="section">
      <img class="img-responsive" src="assets/images/home/driver.jpg" alt="伺服驱动">
  </div>
</div>
</div>
<div class="container partner">
    <div class="text">
        <h3>携手共赢，与数控行业合作伙伴共建云端生态</h3>
        <a href="#">加入数控行业合作伙伴计划，开创新业务，获取技术、资源，实现更快速成长</a>
    </div>
    <div class="row img-box">
        <img class="col-md-2 img-rounded" src="assets/images/home/hz-logo.png" alt="华中数控">
        <img class="col-md-2 col-md-offset-1 img-rounded" src="assets/images/home/gs-logo.png" alt="广州数控">
        <img class="col-md-2 col-md-offset-1 img-rounded" src="assets/images/home/sg-logo.png" alt="沈阳高精数控">
        <img class="col-md-2 col-md-offset-1 img-rounded" src="assets/images/home/bh-logo.png" alt="北京航空航天"> 
    </div>
</div>


