<div class="wrapper">
<div class="container">
  <div class="section">
      <img class="img-responsive" src="assets/images/home/CNC.jpg" alt="数控机床数据库管理系统">
  </div>
  <div class="section">
      <img class="img-responsive" src="assets/images/home/system.jpg" alt="数控系统">
  </div>
  <div class="section">
      <img class="img-responsive" src="assets/images/home/machine.jpg" alt="机械传动部件">
  </div>
  <div class="section">
      <img class="img-responsive" src="assets/images/home/motor.jpg" alt="伺服电机">
  </div>
  <div class="section">
      <img class="img-responsive" src="assets/images/home/driver.jpg" alt="伺服驱动">
  </div>
</div>
</div>


