.banner{
    background: url(assets/images/selection/head-bg.jpg) no-repeat;
    color: #fff;
}

.banner .title{
    font-size: 80px;
    color: #fff;
}

.banner .text{
    font-size: 24px;
}

.selection{
    margin-top: 40px;
    margin-bottom: 40px;
}

.middle-nav{
    margin-bottom: 40px;
}

.middle-nav .add-feedsystem{
    cursor: pointer;
}
