.sign-btn{
    margin-right: 10px;
}

.search-box{
    width: 200px;
    padding-left: 24px;
    transition: all 600ms cubic-bezier(.165, .84, .44, 1);
}

.search-box:focus{
    width: 400px;
    padding-left: 12px;
    border-color: #0095ff;
    box-shadow: inset 0 0 4px #eff0f1, 0 0 5px rgba(0,149,255,0.5);
    transition: all 600ms cubic-bezier(.165, .84, .44, 1);
}

.search-box:focus + .search-icon{
    visibility: hidden;
}

.search-box:focus ~ .search-btn{
    background-color: #337ab7;
    color: #fff;
}

.search-group{
    position: relative;
}

.search-icon{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #8B939B;
}