<div class="header">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" 
        aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img alt="logo" src="assets/favicon/favicon-DEV.ico">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/home']">主页 </a></li>
        <li routerLinkActive="active"><a [routerLink]="['/manager']">查看数据</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/selection']">进入选型</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/simulation']">开始仿真</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/about']">关于</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button class="btn btn-success navbar-btn sign-btn" [routerLink]="['/register']">注 册</button></li>
        <li><button class="btn btn-default navbar-btn sign-btn" [routerLink]="['/login']">登 录</button></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group search-group">
          <input type="text" class="form-control search-box" placeholder="Search">
          <i class="glyphicon glyphicon-search search-icon"></i>
          <button type="submit" class="btn btn-default search-btn">站内搜索</button>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>