@charset 'utf-8';

/*reset*/
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 16px;
    padding-top: 50px;
}

ol,ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfloat{
    zoom: 1;
}

.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}