@charset 'utf-8';

/*reset*/
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p{
    margin: 0;
    padding: 0;
}

body{
    padding-top: 50px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 14px;
    background-color: #f1f2f3
}

ol,ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfloat{
    zoom: 1;
}

.clearfloat:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.main-container{
    padding-top: 30px;
    min-height: 800px;
}

/*面板*/
.block{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 8px 1px #e4e5e6;
}

/*左副导航栏*/
.left-list{
    width: 100%;
}

.left-list .btn{
    height: 45px;
}

.component-table tr:hover{
    background-color: #cccccc;
    color: #fff;
    box-shadow: 0 4px 10px silver;
    cursor: pointer;
}

.component-table tr.selected{
    background-color: #cccccc;
    color: #fff;
}

.component-table th{
    min-width: 120px;
}

