<div class="block">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/selection/CNCMachine/CNCType']">数控机床</a></li>
    <li class="active">机床类型</li>
  </ol>
  <form novalidate (ngSubmit)="nextStep()">
    <div class="row">
      <div *ngFor="let CNCType of CNCTypes">
        <div class="col-md-4">
          <div class="thumbnail" (click)="selectType(CNCType)" [class.active]="selectedType===CNCType">
            <img [src]="'assets/images/selection/'+CNCType.name+'.jpg'" [alt]="CNCType.name">
            <div class="caption">{{CNCType.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-8">
        <button type="submit" class="btn btn-primary" [disabled]="selectedType==null">下一步</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-default" (click)="cancel()">取 消</button>
      </div>
    </div>
  </form>
</div>
