<div class="block">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/selection/Guide.jpg" class="img-thumbnail">
    </div>
    <form role="form">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">导轨相关尺寸</h3>
          </div>
          <div class="panel-body" class="form-inline">
            <div class="form-group">
              <label for="sizeL0" class="control-label">尺寸L0:</label>
              <input type="number" id="sizeL0" class="form-control left-control" palceholder="请输入值"/>
              <label class="control-label">mm</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">导轨参数</h3>
          </div>
          <div class="panel-body form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label">导轨类型:</label>
              <div class="col-md-8">
              <select class="form-control">
                  <option>red</option>
              </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">滚子类型:</label>
              <div class="col-md-8">
                <select class="form-control"></select>
              </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">X轴重量:</label>
                <div class="col-md-6">
                    <input type="number" class="form-control">
                </div>
                <p class="col-md-2 form-control-static">kg</p>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">寿命:</label>
                <div class="col-md-6">
                    <input type="number" class="form-control">
                </div>
                <p class="col-md-2 form-control-static">h</p>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">安全系数:</label>
                <div class="col-md-6">
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">载荷系数:</label>
                <div class="col-md-6">
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">接触系数:</label>
                <div>
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
