<div class="container main-container">
    <accordion>
        <accordion-group isOpen="true" #FAQGroup>
            <div accordion-heading>
                常见FAQ
                <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down':FAQGroup?.isOpen,
                    'glyphicon-chevron-right':!FAQGroup?.isOpen}"></i>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/about/faq.jpg" alt="常见FAQ">
                </div>
                <p class="col-md-9">
                    使用问卷收集数据的基本流程是：创建问卷、编辑问卷、设置问卷、预览问卷、回收问卷、数据分析等几个步骤。
                    问卷提供三种创建问卷方式，创建空白问卷、选择问卷模板、文本编辑器。可以灵活设置问卷的显示、回收条件，
                    在线实时统计回收结果，并可以导出Excel和SPSS数据。详细操作指引请参照帮助中心”操作指引“部分。
                </p>
            </div>
        </accordion-group>
         <accordion-group  isOpen="true" #managerGroup>
            <div accordion-heading>
                数控机床数据管理
                <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down':managerGroup?.isOpen,
                    'glyphicon-chevron-right':!managerGroup?.isOpen}"></i>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/about/create.jpg" alt="数控机床数据管理">
                </div>
                <p class="col-md-9">
                    问卷，共有三种创建问卷的方式让您来选择使用：创建空白问卷、选择问卷模板、文本编辑器，
                    可根据自身的使用习惯，选择最合适的方式来快速创建一份问卷。
                </p>
            </div>
        </accordion-group>
         <accordion-group  isOpen="true" #selectionGroup>
            <div accordion-heading>
                数控机床部件选型
                <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down':selectionGroup?.isOpen,
                    'glyphicon-chevron-right':!selectionGroup?.isOpen}"></i>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/about/create.jpg" alt="数控机床部件选型">
                </div>
                <p class="col-md-9">
                    问卷，共有三种创建问卷的方式让您来选择使用：创建空白问卷、选择问卷模板、文本编辑器，
                    可根据自身的使用习惯，选择最合适的方式来快速创建一份问卷。
                </p>
            </div>
        </accordion-group>
         <accordion-group  isOpen="true" #simulationGroup>
            <div accordion-heading>
                数控机床多领域仿真
                <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down':simulationGroup?.isOpen,
                    'glyphicon-chevron-right':!simulationGroup?.isOpen}"></i>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/images/about/create.jpg" alt="数控机床多领域仿真">
                </div>
                <p class="col-md-9">
                    问卷，共有三种创建问卷的方式让您来选择使用：创建空白问卷、选择问卷模板、文本编辑器，
                    可根据自身的使用习惯，选择最合适的方式来快速创建一份问卷。
                </p>
            </div>
        </accordion-group>
    </accordion>
</div>