<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical left-list">
      <button type="button" [routerLink]="['/selection/CNCMachine/CNCType']" class="btn btn-primary">数控机床</button>
      <button type="button" [routerLink]="['/selection/CNCMachine/CNCType']" routerLinkActive="active" class="btn btn-default">机床类型</button>
      <button type="button" [routerLink]="['/selection/CNCMachine/condition']" routerLinkActive="active" class="btn btn-default">工作需求</button>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
