.footer{
    padding-top: 40px;
    background-color: #212121;
    color: #959595;
}

.footer h4{
    margin-bottom: 24px;
    color: #e0e0e0;
}

.footer a{
    color: #959595;
}

.footer .footer-col{
    float: left;
    width: 280px;
    margin-right: 150px;
}

.footer .footer-col:last-child{
    margin-right: 0;
}

.footer-col .item{
    margin-bottom: 14px;
}

.item .glyphicon{
    margin-right: 8px;
}

.footer-copy{
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #959595;
}

.footer-copy p{
    text-align: center;
}

