<div class="footer">
    <div class="container">
        <div class="clearfloat">
        <div class="footer-col">
            <h4>关于我们</h4>
            <p class="item">华中科技大学</p>
            <p class="item">机械科学与工程学院数控中心</p>
        </div>
        <div class="footer-col">
            <h4>友情链接</h4>
            <ul>
                <li class="item"><a href="http://www.huazhongcnc.com">华中数控</a></li>
                <li class="item"><a href="http://www.gsk.com.cn">广州数控</a></li>
                <li class="item"><a href="http://golding.sict.cas.cn">沈阳高精数控</a></li>
                <li class="item"><a href="http://www.casnuc.com.cn">北京航天数控</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>联系方式</h4>
            <ul>
                <li class="item"><span class="glyphicon glyphicon-home"></span>湖北省武汉市洪山区珞喻路1037号</li>
                <li class="item"><span class="glyphicon glyphicon-envelope"></span>430074</li>
                <li class="item"><span class="glyphicon glyphicon-earphone"></span>027-87541114</li>
            </ul>
        </div>
    </div>
    <div class="footer-copy">
        <p>Copyright © 2017.CNC Data Hub All rights reserved.</p>
    </div>
    </div>
</div>